[alias]
  st = status
  cm = commit -m
  co = checkout
  di = diff
  dc = diff --cached
  ds = diff --staged
  aa = add .
  pom = push origin master
  b = branch
  cb = checkout -b
  c = checkout
  pd = push -u origin develop
  p = push